@model RPGSite.ViewModels.InventoryViewModel
@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Picture</th>
        <th>Quantity</th>
    </tr>
    @foreach (var item in Model.Inventory)
    {
        <tr id="row-@item.ID">
            <td>
                @item.Equipment.Title
            </td>
            <td>
                <img src="~/Images/@item.Equipment.Picture" alt="Picture" class="inventory-picture"/>
            </td>
            <td id="item-count-@item.ID">
                @item.Quantity
            </td>
        </tr>
    }
</table>