
@{
    ViewBag.Title = "Accept";
}

<h2>You have accepted the offer!</h2>

<h3 class="text">
    Now you can see your item in your @Html.ActionLink("inventory", "Index", "Inventory", null, null)!
</h3>
